.taskCard {
  background-color: var(--gray-500);
  color: var(--gray-100);
  padding: 1rem;
  margin: 0 1.25rem 0.75rem 1.25rem;
  width: 46rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkMark {
  border: 0;
  box-sizing: border-box;
  background-color: var(--gray-500);
  border-radius: 50%;  
  display: flex;
  align-items: center;
  transition: color 0.25s, background-color 0.25s, text-decoration 0.25s;

  width: 17.45px;
  height: 17.45px;
  color: var(--blue);
}

.checkMark:hover {
  background-color: var(--gray-400);
  color: var(--blueDark);
  cursor: pointer;
}

.taskCard .taskCardMessage {
  padding: 0 0.75rem;
  font-size: 14px;
}

.checked {
  composes: taskCard;
}

.checked .checkMark {
  background-color: var(--purpleDark);
  color: var(--gray-100);
}

.checked .checkMark svg {
  height: 12px;
}

.checked .checkMark:hover {
  background-color: var(--purple);
}

.checked .taskCardMessage {
  color: var(--gray-300);
  text-decoration: line-through;
  
}

.taskCard .deleteTask {
  background-color: var(--gray-500);
  border: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  color: var(--gray-300);
  transition: color 0.25s, background-color 0.25s;
  display: flex;
  align-items: center;
}

.taskCard .deleteTask svg {
  height: 14px;
}

.taskCard .deleteTask:hover {
  cursor: pointer;
  color: var(--danger);
  background-color: var(--gray-400);
  border-radius: 4px;
}