.taskForm {
  display: flex;
  justify-content: center;
  margin: -25.05px 1rem 0 1rem;
}

.taskForm input[type=text] {
  background-color: var(--gray-500);
  color: var(--gray-300);
  border-radius: 0.5rem;
  border-color: var(--gray-700);
  width: 44.5rem;
  padding-left: 1rem;
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  font-weight: bold;
  padding: 1rem;
  margin: 0 0 0 0.5rem;
  background-color: var(--blueDark);
  border-radius: 8px;
  border-width: 0;
  transition: background-color 0.25s;
}
.createButton:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.createButton span {
  margin: 0 0.5rem 0 0;
}